@charset "UTF-8";
/**************
FONTS
***************/
/**************
COLORS
***************/
/**************
GENERAL
***************/
* {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-overflow-scrolling: touch;
}

ul, li {
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main-container {
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1920px) {
  .main-container {
    width: 75%;
  }
}

/**************
SLICK STYLES
***************/
.slick-dots li button:before {
  font-size: 16px;
  color: #564ce9;
}

.slick-dots li.slick-active button:before {
  color: #564ce9;
}

.slick-dots {
  bottom: -50px;
}

/**************
NAVIGATION
***************/
.nav-flex {
  display: flex;
  list-style-type: none;
}
.nav-flex li:first-child {
  margin-right: auto;
}
.nav-flex li:last-child {
  padding-top: 1px;
}
.nav-flex a {
  display: inline-block;
  margin-top: 25px;
  margin-right: 25px;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .nav {
    width: 90%;
    margin: 0 auto;
  }
}

/**************
INTRODUCTION
***************/
@media (min-width: 1024px) {
  .company {
    display: none;
  }
}
.company h1 {
  color: #564ce9;
  font-family: "Fjalla One";
  font-size: 20px;
  text-transform: uppercase;
}
.company img {
  margin-top: 42px;
}

.catch {
  color: #564ce9;
  margin-top: 100px;
  margin-bottom: 25px;
}
.catch h1 {
  font-family: "Fjalla One";
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
}
@media (min-width: 1024px) {
  .catch h1 {
    font-size: 60px;
    margin-top: 98px;
    max-width: 600px;
  }
}

/**************
SPORTS
***************/
.sports {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .sports {
    margin-top: 80px;
  }
}
.sports h2 {
  color: #564ce9;
  font-family: "Fjalla One";
  font-size: 24px;
}
.sports a {
  text-decoration: none;
}

.sports-flex {
  margin-top: 34px;
  margin-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

.one {
  padding-top: 2.5px;
}

.three {
  padding-bottom: 2.5px;
}

/**************
CARDS
***************/
.slick-slide {
  outline: none;
}

@media (min-width: 1366px) {
  .cards-desktop {
    width: 75%;
    margin: 0 auto;
  }
}

.cards {
  background-color: #564ce9;
  border-radius: 8px;
  color: white;
  max-width: 325px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  cursor: pointer;
  /**************
  REVIEW code below
  ***************/
}
@media (min-width: 768px) {
  .cards {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 325px;
  }
}
@media (min-width: 1024px) {
  .cards {
    cursor: default;
    margin: 0 auto;
  }
}
.cards h2 {
  font-family: "Fjalla One";
  font-size: 22px;
  font-weight: 300;
  padding-top: 17px;
  text-transform: uppercase;
}
.cards .fd-logo {
  padding-top: 25px;
}
.cards p {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 43px;
}
.cards img {
  margin: 0 auto;
}
.cards .price {
  padding-top: 19px;
  padding-bottom: 37px;
}
.cards li {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2;
  text-align: left;
  margin-left: 10px;
  margin-right: 50px;
}
.cards li span {
  position: relative;
  left: 10px;
}
.cards ul {
  list-style-type: none;
}
.cards ul li:before {
  content: "✔︎";
  color: white;
  font-family: "Zapf Dingbats";
}
.cards .button {
  background-color: #2b248e;
  border-radius: 8px;
  color: white;
  display: inline-block;
  font-family: "Fjalla One";
  margin-top: 25px;
  margin-bottom: 35px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.cards h3 {
  font-size: 21px;
}

/**************
DATA
***************/
.data h1 {
  color: #564ce9;
  font-family: "Fjalla One";
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 148px;
}
@media (min-width: 1024px) {
  .data {
    width: 90%;
    margin: 0 auto;
  }
}

.graph img {
  margin-top: 31px;
  width: 100%;
}
@media (min-width: 768px) {
  .graph img {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .graph img {
    width: 60%;
  }
}
@media (min-width: 1920px) {
  .graph img {
    width: 50%;
  }
}
.graph p {
  font-family: "Montserrat";
  margin: 0 auto;
  padding-top: 27px;
  text-align: left;
  width: 85%;
}
@media (min-width: 768px) {
  .graph p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .graph p {
    line-height: 1.75;
  }
}

.percentage img {
  margin-top: 96px;
  width: 70%;
}
@media (min-width: 768px) {
  .percentage img {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .percentage img {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .percentage img {
    width: 15%;
  }
}
.percentage p {
  font-family: "Montserrat";
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 41px;
  text-align: left;
  width: 85%;
}
@media (min-width: 768px) {
  .percentage p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .percentage p {
    line-height: 1.75;
  }
}

/**************
FOOTER
***************/
.sms {
  padding-left: 30px;
  text-align: left;
}
.sms h2 {
  color: #909090;
  font-family: "Fjalla One";
  font-weight: 300;
  margin-top: 75px;
  text-transform: uppercase;
}
.sms a {
  text-decoration: none;
}
.sms img {
  border-radius: 50%;
}
.sms .discord {
  margin-left: 5px;
}

.disc {
  padding-left: 30px;
  text-align: left;
}
.disc h2 {
  color: #909090;
  font-family: "Fjalla One";
  font-weight: 300;
  margin-top: 75px;
  text-transform: uppercase;
}
.disc p {
  color: #909090;
  font-family: "Montserrat";
  line-height: 1.5;
  width: 85%;
}

.acc {
  padding-left: 30px;
  text-align: left;
}
@media (min-width: 768px) {
  .acc {
    padding-bottom: 50px;
  }
}
.acc h2 {
  color: #909090;
  font-family: "Fjalla One";
  font-weight: 300;
  margin-top: 75px;
  text-transform: uppercase;
}
.acc ul {
  padding: 0;
}
.acc li {
  line-height: 1.5;
  list-style-type: none;
}
.acc a {
  color: #564ce9;
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
}

.copy p {
  color: #909090;
  font-family: "Montserrat";
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 51px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 91px;
    padding-right: 5px;
    max-width: 90%;
  }
}

.footer-flex {
  flex: 1;
}

.bigger {
  flex: 2;
}

/**************
MEDIA QUERIES
***************/
@media (min-width: 1024px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex-container img {
    flex: 1;
  }

  .flex-container p {
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
