/**************
FONTS
***************/

$font-family-fo: 'Fjalla One';
$font-family-m: 'Montserrat';

/**************
COLORS
***************/

$color-main: #564ce9;

/**************
GENERAL
***************/

* {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-overflow-scrolling: touch;
}

ul, li {
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main-container {
  margin: 0 auto;
  text-align: center;
  @media (min-width: 1920px) {
    width: 75%;
  }
}

/**************
SLICK STYLES
***************/

.slick-dots li button:before {
  font-size: 16px;
  color: $color-main;
}

.slick-dots li.slick-active button:before {
  color: $color-main;
}

.slick-dots {
  bottom: -50px;
}

/**************
NAVIGATION
***************/

// hide logo in mobile and tablet
.desktop {
  @media (max-width: 1024px) {
    visibility: hidden;
  }
}

.nav-flex {
  display: flex;
  list-style-type: none;
  li:first-child {
    margin-right: auto;
  }
  // manually push down to align with login icon
  li:last-child {
    padding-top: 1px;
  }
  a {
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
  	text-decoration: none;
  }
}

.nav {
  @media (min-width: 1024px) {
    width: 90%;
    margin: 0 auto;
  }
}

/**************
INTRODUCTION
***************/

.company {
  @media (min-width: 1024px) {
    display: none;
  }
  h1 {
    color: $color-main;
    font-family: $font-family-fo;
    font-size: 20px;
    text-transform: uppercase;
  }
  img {
    margin-top: 42px;
  }
}

.catch {
  color: $color-main;
  margin-top: 38px;
  h1 {
    font-family: $font-family-fo;
    font-size: 40px; // changed original 35px to 40px
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
    @media (min-width: 1024px) {
      font-size: 60px;
      margin-top: 98px;
      max-width: 600px;
    }
  }
}

/**************
SPORTS
***************/

.sports {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  @media (min-width: 1024px) {
    margin-top: 80px;
  }
  h2 {
    color: $color-main;
    font-family: $font-family-fo;
    font-size: 24px;
  }
  a {
    text-decoration: none;
  }
}

.sports-flex {
  margin-top: 34px;
  margin-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

.one {
  // manually push down to align with sports icon
  padding-top: 2.5px;
}

.three {
  // manually push up to align with sports icon
  padding-bottom: 2.5px;
}

/**************
CARDS
***************/

.slick-slide {
  outline: none
}

.cards-desktop {
  @media (min-width: 1366px) {
    width: 75%;
    margin: 0 auto;
  }
}

.cards {
  background-color: $color-main;
  border-radius: 8px;
  color: white;
  max-width: 325px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  cursor: pointer;
  @media (min-width: 768px) {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 325px;
  }
  @media (min-width: 1024px) {
    cursor: default;
    margin: 0 auto;
  }
  /**************
  REVIEW code below
  ***************/
  // width: 400px; //manually edited - width: 85%;
  h2 {
    font-family: $font-family-fo;
    font-size: 22px;
    font-weight: 300;
    padding-top: 17px;
    text-transform: uppercase;
  }
  .fd-logo {
    padding-top: 25px;
  }
  p {
    font-family: $font-family-m;
    font-size: 14px;
    margin-top: 43px;
  }
  img {
    margin: 0 auto;
  }
  .price {
    padding-top: 19px;
    padding-bottom: 37px;
  }
  li {
    font-family: $font-family-m;
    font-size: 12px;
    line-height: 2;
    text-align: left;
    margin-left: 10px;
    margin-right: 50px;
  }
  li span {
  position: relative;
  left: 10px;
}
  ul {
    list-style-type: none;
  }

  ul li:before {
    content: '\2714';
    color: white;
  }
  .button {
    background-color: #2b248e;
    border-radius: 8px;
    color: white;
    display: inline-block;
    font-family: $font-family-fo;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
    // figure out new button
  }
  h3 {
    font-size: 21px;
    // manually edited from 24px to 21px
  }
  // /**************
  // REVIEW code below
  // ***************/
  // @media (min-width: 700px) {
  //   max-width: 60%;
  // }
}








// .traffic_widget_container {
//   width: 90%;
//   margin: 0 auto;
// }

/**************
DATA
***************/

.data {
  h1 {
    color: $color-main;
    font-family: $font-family-fo;
    font-size: 40px;
    text-transform: uppercase;
    // added an extra 25px because of dots -25px
    margin-top: 148px;
  }
  @media (min-width: 1024px) {
    width: 90%;
    margin: 0 auto;
  }
}

.graph {
  img {
    margin-top: 31px;
    // padding-left: 42px;
    width: 100%;
    @media (max-width: 1024px) {
      // padding-left: 42px;
    }
    @media (min-width: 768px) {
      // width: 550px;
      // height: 350px;
      width: 80%;
    }
    @media (min-width: 1024px) {
      width: 60%;
    }
    @media (min-width: 1920px) {
      width: 50%;
    }
  }
  p {
    font-family: $font-family-m;
    margin: 0 auto;
    padding-top: 27px;
    text-align: left;
    width: 85%;
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 1024px) {
      line-height: 1.75;
    }
  }
}

.percentage {
  img {
    margin-top: 96px;
    width: 70%;
    @media (min-width: 768px) {
      // width: 384px;
      // height: 384px;
      width: 45%;
    }
    @media (min-width: 1024px) {
      width: 25%;
    }
    @media (min-width: 1920px) {
      width: 15%;
    }
  }
  p {
    font-family: $font-family-m;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: 41px;
    text-align: left;
    width: 85%;
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 1024px) {
      line-height: 1.75;
    }
  }
}





/**************
FOOTER
***************/

.sms {
  padding-left: 30px;
  text-align: left;
  h2 {
    color: #909090;
    font-family: $font-family-fo;
    font-weight: 300;
    margin-top: 75px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
  img {
    border-radius: 50%;
  }
  .discord {
    margin-left: 5px;
  }
}

.disc {
  padding-left: 30px;
  text-align: left;
  h2 {
    color: #909090;
    font-family: $font-family-fo;
    font-weight: 300;
    margin-top: 75px;
    text-transform: uppercase;
  }
  p {
    color: #909090;
    font-family: $font-family-m;
    line-height: 1.5;
    width: 85%;
  }
}

.acc {
  padding-left: 30px;
  text-align: left;
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
  h2 {
    color: #909090;
    font-family: $font-family-fo;
    font-weight: 300;
    margin-top: 75px;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
  }
  li {
    line-height: 1.5;
    list-style-type: none;
  }
  a {
    color: $color-main;
    font-size: 14px;
    font-family: $font-family-m;
    text-decoration: none;
  }
}

.copy {
  p {
    color: #909090;
    font-family: $font-family-m;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 51px;
  }
}

.footer {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 91px;
    padding-right: 5px;
    max-width: 90%;
  }
}

.footer-flex {
  flex: 1;
}

.bigger {
  flex: 2;
}




/**************
MEDIA QUERIES
***************/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
//   .flex {
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   width: 90%;
//   max-width: 1024px;
// }
// // .cards {
// //   padding: 10px;
// //   margin: 10px;
// //   text-align: center;
// // }
// .flex-container {
//   display: flex;
//   align-items: center;
// }
// .flex-container > div {
//   width: 50%;
//   padding: 10px;
// }
// .flexbox-container > div:first-child {
//   margin-right: 20px;
// }
//
// .graph p {
//   margin-left: 30px;
// }
// .percentage p {
//   margin-left: 130px;
// }


.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container img {
  flex: 1;
}

.flex-container p {
  flex: 1;
}



}
